/* 공통부분 */
.wrapper {
    width: 1366px;
    position: relative;
    margin: 0 auto;
}
li {
    list-style: none;
}
/* header 부분 css */
.header {
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.topBanner {
    background: #1c1c1c;
    display: none;
    position: relative;
    min-width: 1310px;
    overflow: hidden;
}
.header_top {
    margin: 15px 0;
}
.header_top .wrapper {
    text-align: right;
}
.gnd {
    display: inline-block;
    text-align: right;
}
.gnd li:nth-child(1) {
    margin-top: 0;
}
.gnd li {
    margin-right: 24px;
    float: left;
    margin-top: 4px;
}
.gnd li a {
    font-size: 12px;
}
.abcd {
    font-size: 12px;
}
.header_mid {
    margin-bottom: 24px;
}
.header_btm {
    position: relative;
}
.nav_box {
    box-sizing: border-box;
    padding: 0 6px;
}
.nav {
    position: relative;
    margin-right: 42px;
    display: inline-block !important;
    vertical-align: middle;
}
.nav li {
    margin-right: 100px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.nav .menu_btn {
    position: relative;
    width: 23px;
    height: 17px;
}
button {
    background: transparent;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    border: 0 none;
}
button span {
    visibility: visible;
}
.nav .menu_btn .line01 {
    top: 0;
}
.nav .menu_btn .line02 {
    top: 7px;
}
.nav .menu_btn .line03 {
    top: 14px;
}
.nav .menu_btn.open .line01 {
    top: 7px;
    transform: rotate(45deg);
}
.nav .menu_btn.open .line02 {
    display: none;
}
.nav .menu_btn.open .line03 {
    top: 7px;
    transform: rotate(135deg);
    width: 23px !important;
}
.nav .menu_btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0px;
    transition: all 0.3s ease 0s;
}
.nav.point .item {
    font-weight: 700;
    font-size: 18px;
}
.nav .item {
    display: inline-block;
    font-size: 16px;
    position: relative;
    height: 54px;
    line-height: 54px;
    letter-spacing: 0.25px;
    vertical-align: top;
    transition: all 0.3s ease-out 0.1s;
    font-weight: 400;
}
.sub_nav {
    display: none;
    position: absolute;
    top: 54px;
    left: calc(50% - 50px);
    width: 162px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dddddd;
    padding: 17px 30px;
    z-index: 200px;
}
.sub_nav:hover {
    display: block;
    position: absolute;
    top: 54px;
    left: calc(50% - 50px);
    width: 162px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dddddd;
    padding: 17px 30px;
    z-index: 200px;
}
.sub_nav .sub_item {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.nav:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background: rgb(165, 165,165);
    position: absolute;
    right: 20px;
    top: calc(50% - 9.5px);
}
.all_menu_box {
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    padding: 60px 30px 65px;
    z-index: 10;
    background: #fff;
    z-index: 100000;
}
.menu_box:nth-child(1) {
    width: 286px;
}
.menu_box {
    display: inline-block;
    float: left;
    margin-right: 32px;
    padding-right: 32px;
    min-height: 394px;
    border-right: 1px solid #d9d9d9;
    position: relative;
    box-sizing: border-box;
    width: 192px;
}
.menu_list li {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
}
.menu_list li .item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}
.menu_list li .sub_item {
    font-size: 13px;
    color: #999;
    font-weight: noraml;
    letter-spacing: 0px;
    margin-left: 6px;
}
.menu_box:nth-child(2) {
    width: 534px;
}
.flexNone {
    display: inline-block;
}
.personal_list {
    margin-bottom: 32px;
}
.personal_list:last-child {
    margin-bottom: 0;
}
.personal_list dt {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
}
.personal_list dd {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0px;
}
.personal_list dd a {
    display: block;
    margin-bottom: 16px;
}
/* content 부분 css */
.contentWrapper {
    position: relative;
    overflow: hidden;
}
#timeBest {
    background: #eee;
}
.section {
    padding: 75px 0;
}
.tt_box {
    padding-top: 20px;
}
#timeBest .tt_box {
    text-align: center;
}
.tt_box .tt em {
    font-size: 43px;
    display: block;
}
.fbold {
    font-weight: bold !important;
}
address, em {
    font-style: normal;
}
.swiper_tt {
    margin-top: 16px;
    font-size: 16px;
    color: #999;
}
.contain {
    margin-top: 40px;
}
#TOP {
    padding-top: 200px;
}
.txt_center {
    text-align: center !important;
}
.product_list_box .item-cont .item-list.slick-slide {
    float: none;
}
.product_list_box .item-cont .item-list {
    margin-right: 21px;
    margin-bottom: 80px;
    width: calc(25% - 16px);
    display: inline-block;
    vertical-align: top;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.item-cont .item-list .thumb {
    text-align: left;
}
.item-cont .item-list .thumb dt {
    position: relative;
}
.item-cont .item-list .thumb dt div {
    display: inline-block;
    padding-bottom: 130%;
    position: relative;
    width: 100%;
}
.item-cont .item-list .thumb dd {
    padding-top: 14px;
    position: relative;
}
.item-cont .item-list .thumb dt div img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.item-cont .item-list .item_name {
    margin-bottom: 5px;
}
.item-cont .item-list .item_name .namename {
    display: inline-block;
    color: #333;
    font-size: 14px;
    padding: 5px 0;
}
.item-cont .item-list .thumb .colorinfo {
    display: inline-block;
}
.item-cont .item-list .thumb .colorinfo div {
    display: inline-block;
    margin-right: 2px;
    width: 15px;
    height: 6px;
    border: 1px solid #d7d7d7;
}
.item-cont .item-list .thumb .listSubname {
    margin: 6px 0;
    color: #999;
    word-break: break-all;
}
.item-cont .item-list .thumb .prd-preivew {
    position: absolute;
    top: 6px;
    right: 0;
}
.item-cont .item-list .thumb .item_price {
    font-size: 15px;
    margin-bottom: 6px;
}
.item-cont .item-list .thumb .item_price .price {
    font-size: 15px;
    font-weight: bold;
}












/* footer 부분 css */
.footer {
    padding: 32px 0 62px;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #fff;
    margin-top: 0 !important;
    margin-left: auto;
    margin-right: auto;
}
.ft_info_box {
    display: inline-block;
}
.ft_info_box .shop_info{
    display: inline-block;
    color: #999;
    font-size: 12px;
}
.ft_info_box .copy{
    color: #999;
    font-size: 12px;
}
.ft_logo {
    margin-bottom: 20px;
}
.ft_link {
    display: flex;
    margin-bottom: 20xp;
}
.link {
    color: #1c1c1c;
    font-size: 12px;
    margin-right: 12px;
}
.ft_info_box.last {
    float: right;
    padding-top: 10px;
}
.ft_info {
    margin-right: 89px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.ft_info dt {
    font-size: 22px;
    margin-bottom: 20px;
}

/* 장바구니 */
.contentWrap {
    width: 100%;
}
.contentWrap {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.content {
    min-height: 400px;
}
.content {
    position: relative;
}
#content {
    margin-top: 80px;
    min-height: 400px;
    position: relative;
}
.wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.tit-mypage {
    text-align: left;
    font-size: 30px;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 600;
}
.order_step {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
#cartWrap {
    width: 1000px;
    float: left;
}
#cartInfo.headroom--top {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
#cartInfo {
    float: right;
    width: 330px;
}
.order_step li {
    float: left;
    padding-right: 40px;
    font-size: 14px;
    color: #999;
    font-weight: 600;
    position: relative;
}
.order_step li.active {
    color: #000;
}
#cartWrap {
    width: 1000px;
    float: left;
}
.table-cart {
    border-bottom: 1px solid #e9e9e9;
}
.cart_box {
    border-top: 2px solid #000;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
.cart_box thead th {
    height: 58px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}
.table-cart thead th {
    padding: 15px 0;
    font-size: 13px;
    color: #101010;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
}
.tb-center {
    text-align: center;
}
.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}
.table-cart tbody td {
    padding: 10px 0;
    border-top: 1px solid #e9e9e9;
}
.btn-order-ctrl {
    text-align: center;
    padding: 30px 0 50px;
    overflow: hidden;
}
.btn-order-ctrl .left {
    float: left;
}
.btn-order-ctrl .right {
    float: right;
}
.btn-order-ctrl a {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.CSSbuttonWhite {
    display: inline-block;
    color: #231f20;
    text-align: center;
    border: 1px solid #231f20;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#cartInfo.headroom--top {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
#cartInfo {
    float: right;
    width: 330px;
}
.tb-total {
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #dbdbdb;
}
.tb-right {
    text-align: right;
}
#cartInfo .btn {
    display: block;
    height: 56px;
    line-height: 56px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.CSSbuttonBlack {
    display: inline-block;
    color: #fff;
    text-align: center;
    border: 1px solid #231f20;
    background: #231f20;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.tb-total tr th {
    text-align: left;
    width: 100px;
    font-size: 14px;
    padding: 10px 0;
}
.tb-total tr td {
    font-size: 14px;
}
.tb-total table.foot {
    border-top: 1px solid #000;
}
.tb-total table.foot th, .tb-total table.foot td {
    padding-top: 24px;
}
.tb-total table.foot td {
    font-size: 17px;
    font-weight: 600;
}
/* 상세페이지 */
.contentWrapper {
    overflow: inherit;
}
.product_info_box {
    margin: 60px 0 80px;
}
.show_detail .wrapper {
    width: 1400px;
}
.product_img_box {
    display: inline-block;
    vertical-align: top;
    width: 770px;
    position: relative;
    overflow: hidden;
}
.product_txt_box {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right;
}
.gallery-top {
    width: 640px;
}
.gallery-container {
    display: inline-block;
    height: 720px;
    box-sizing: border-box;
    overflow: hidden;
}
.gallery-thumbs {
    width: 120px;
    float: right;
    height: 720px;
}
.prdInfoAreaChild {
    right: -340px;
}
.prdInfoCnt {
    width: 450px;
    box-sizing: border-box;
}
.infoHeader {
    position: relative;
}
.infoHeader .tit-prd{
    font-size: 22px;
    color: #000;
    padding-right: 74px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.4;
}
.prdInfoCnt .listSubname {
    font-size: 15px;
    color: #8a8a8a;
    padding-right: 74px;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.4;
    margin-top: 7px;
}
.prdInfoCnt .price {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 30px 0 10px;
    text-align: right;
    position: relative;
}
.prdInfoCnt .price .lb{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 17px;
    font-weight: 300;
}
.prdInfoAreaChild .price_sell {
    font-size: 20px;
}
.prdOption table td {
    height: 32px;
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    padding: 10px 0;
}
.nopd {
    padding: 0 !important;
}
.blind {
    z-index: -1;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    text-indent: -9999px;
}
.prdOption table td dl {
    margin-top: 15px;   
}
.prdOption table td dl dt {
    margin-bottom: 10px;
    display: block;
}
.prdOption table td dl dd {
    display: block;
}
/* .prdOption table td dl dd .basic_option {
    width: 100%;
    height: 30px;
} */
.MK_optAddWrap {
    margin-top: 10px;
}
.prdOption table td .lb {
    display: block;
    font-size: 15px;
}
#MK_innerOptTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 17px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
#MK_innerOptTotal .totalRight {
    display: flex;
    align-items: center;
}
#MK_innerOptTotal .MK_total {
    font-size: 14px;
    font-weight: 300;
}
.prdInfoAreaChild .prd-btns > a.btn_buy {
    color: #000;
    border-color: #5c5c5c;
    font-weight: 600;
}
.prdInfoAreaChild .prd-btns > a {
    transition: background 0.3s ease;
    display: inline-block;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    color: #5c5c5c;
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 0;
    margin-bottom: 8px;
    width: 100%;
    border: 1px soild #eeeeee;
}

/* 댓글 css */
.page {
    transition: opacity 0.3s ease-out;
}
.review_list_v2 {
    padding: 32px 0;
    border-bottom: 1px solid #d8dde5;
}
.review_list_v2__review_lcontent {
    display: inline-block;
    border-right: 1px solid #d8dde5;
    padding-right: 40px;
    vertical-align: top;
    box-sizing: border-box;
    width: 75%;
}
.review_list_v2__review_rcontent {
    display: inline-block;
    padding-left: 40px;
    vertical-align: top;
    box-sizing: border-box;
    width: 25%;
}
.review_list_v2__tag_section {
    margin-bottom: 8px;
    font-size: 10px;
}
.review_list_v2__content_section {
    margin-top: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #101010;
}
.review_list_v2__score_section {
    min-height: 20px;
}
.review_list_v2__image_section {
    margin-top: 16px;
}
.review_list_v2__section {
    margin-top: 20px;
    height: 20px;
}
.review_list_v2__comments_container {
    display: none;
    margin-top: 24px;
}
.review_list_v2__tag {
    padding: 4px 8px;
    border-radius: 4px;
    border: solid 1px #ebeff5;
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #707680;
    white-space: nowrap;
}
.review_list_v2__score_container {
    display: inline-block;
}
.review_list_v2__edit_container {
    position: relative;
    float: right;
}
.review_list_v2__content_container {
    position: relative;
}
.review_content__collapsed {
    display: block;
}
.review_content__expanded {
    display: none;
}
.review_list_v2__message {
    overflow: hidden;
    box-sizing: content-box;
}
.review_media_v2 {
    overflow: auto ;
    white-space: nowrap;
    font-size: 0;
}
@media (min-width: 1024px) {
.review_media_v2__medium {
    width: 132px;
    height: 132px;
}
}
.review_media_v2__medium {
    display: inline-block;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 4px;
    width: calc((100% - 8px * 3) / 4);
}
.review_media_v2__medium_container {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}
.review_media_v2__medium_image {
    width: 100%;
    height: 100%;
}
.review_list_v2__user_message {
    margin-bottom: 4px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 18px;
}
.review_list_v2__options_section {
    margin-top: 8px;
}
.review_options_v2 {
    margin-top: 4px;
}
.review_options_v2__name {
    margin-right: 4px;
    font-weight: bold;
}
.review_options_v2__name .review_options_v2__value {
    font-size: 12px;
    line-height: 18px;
    color: #707680;
    margin-right: 4px;
    font-weight: bold;
}
.renewed_widget {
    box-sizing: border-box;
    width: 100%;
    min-width: 720px;
    margin: 0;
    padding: 32px;
}
body #content {
    margin: 0 auto;
    font-size: 12px;
}
.widget_reviews:first-child, .widget_reviews.first {
    padding-top: 0;
}
.widget_reivews {
    padding: 44px 0;
}
.widget_header_basic {
    display: flex;
    border-bottom: 2px solid #14161a;
    padding: 16px 0;
    width: 100%;
}
.widget_header_basic__title_container {
    flex-grow: 1;
    line-height: 30px;
    font-size: 20px;
    color: #14161a;
    -ms-flex-positie: 1;
}
.widget_header_basic__title {
    margin-right: 4px;
}
.widget_header_basic__reviews_count {
    font-weight: bold;
    letter-spacing: 0.5px;
}
.widget_header_basic__description {
    font-size: 14px;
    line-height: 21px;
    color: #707680;
}
.widget_header_basic__links_container {
    display: flex;
    height: 20px;
    margin-top: 3px;
    font-size: 0;
}
.widget_header_basic__link:last-child {
    padding-right: 0;
}
.widget_header_basic__link {
    white-space: nowrap;
    font-size: 16px;
    color: #707680;
    padding: 0 12px 16px;
}
.filter_sort_basic {
    position: relative;
    border-bottom: 1px solid #14161a;
}
.filter_sort_basic__sort_search_list {
    border-bottom: 1px solid #ebeff5;
}
.filter_sort_basic__filter_wrapper {
    position: relative;
    border-bottom: 1px solid #ebeff5;
}
.filter_sort_basic__sort_search_list, .filter_sort_basic__filter_list {
    overflow-x: scroll;
    white-space: nowrap;
}
.filter_sort_basic__sort {
    display: inline-block;
    padding: 30px 0;
    width: 22%;
    min-width: 115px;
}
@media(min-width: 1025px) {
    .filter_sort_basic__sort_list {
        display: block;
        margin-left: 12px;
        font-size: 0;
    }
}
.widget_reviews__body {
    border-bottom: 1px solid #dadada;
}
.filter_sort_basic__search {
    float: right;
    padding: 30px 0 16px 8px;
    font-size: 16px;
}
.filter_sort_basic_search_input_container {
    position: relative;
    box-sizing: border-box;
    height: 32px;
    border: solid 1px #d8dde5;
    border-radius: 4px;
}