/* * {
  box-sizing: border-box;
} */
/* @font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* body {
  margin: 0 auto;
  color: #3f464d;
  font-family: 'CookieRun-Regular';
  font-weight: normal;
  font-style: normal;
}
div {
  font-family: 'CookieRun-Regular';
  font-weight: normal;
  font-style: normal;
} */

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}
.inner2 {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}
.inner3 {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
  padding: 2rem 2rem;
}
.inner1 {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}

header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.7rem;
}

.head-container .head-brand a:hover {
  color: #ffc107;
  cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1rem;
}

.head-container a:hover {
  color: #ffc107;
  cursor: pointer;
}

.head-blog a:hover {
  color: #ffffff;
  cursor: pointer;
}

/* .btn{
  width: 130px;
  height: 40px;
} */

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.program1 {
  margin-top: 100px;
  padding: 0 2rem;
  display: flex;
}
.program11 {
  margin-top: 150px;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #cfd8dc;
  display: flex;
  height: 360px; /* 화면 이미지 고정 */
  z-index: 1;
  background-color: #545e6f;
}
.program1-1 {
  display: flex;
}

.program112 {
  padding: 0 4rem;
}

.program113 {
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.pro-head {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.pro-body {
  font-size: 1rem;
  margin-bottom: 2rem;
}


.title-container {
  padding-top: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}
.login-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.login-subtitle {
  font-size: 1.2rem;
}
.login-maintitle {

}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  transition: 0.4s;
}

.titile {
  margin-left: 2rem;
}

.skill:hover {
  transform: translate(0, -5px);
}

.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}

.python-style {
  color: #2186c4;
}

.analysis-style {
  color: #ff8066;
}

.ai-style {
  color: #f7df1e;
}

.vue-style {
  color: #2e7d32;
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.slide-prev {
  font-size: 2rem;
  cursor: pointer;
  color: #f1c232;
}

.slide-next {
  font-size: 2rem;
  cursor: pointer;
  color: #cfd8dc;
}

.arrow-container {
  display: flex;
}

.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: hidden;
  gap: 20px 2%;  
  flex-wrap: wrap;
  justify-content:space-around;
}
.class-list1 {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: hidden;
  gap: 20px 2%;  
  flex-wrap: wrap;
}
.class-card1 {
  width: 240px;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
  flex-shrink: 0;
  width: 30%;
}

.class-card {
  width: 240px;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
  flex-shrink: 0;

}

.class-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.class-image {
  /* 사이즈가 큰 이미지를 작은 블럭 내에 넣을 때 호환성을 위해 max-width/max-height 를 사용해야 함 */
  width: 240px;
  height: 130px;
  object-fit: fill;
  /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
     top-left | top-right | bottom-right | bottom-left */
  border-radius: 8px 8px 0 0;
}
.class-image1 {
  width: 431px;
  height: 231px;
  object-fit: fill;
  /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
     top-left | top-right | bottom-right | bottom-left */
  border-radius: 8px 8px 0 0;
}
.class-image2 {
  width: 100%;
  height: 200px;
  object-fit: fill;
  /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
     top-left | top-right | bottom-right | bottom-left */
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  font-size: 0.9rem;
  color: #949393;
}

.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: #ffd966;
  padding: 0.2rem;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
}

.class-title {
  font-weight: bold;
  color: #545e6f;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1.5rem;
}

.roadmap-desc {
  display: visible;
}

li a:hover {
  cursor: pointer;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-message {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: #545e6f;
  margin: 0.3rem 0.5rem;
}

.footer-contact {
  text-align: right;
  color: #545e6f;
  margin: 0 0.5rem;
}

.footer-copyright {
  border-top: 3px solid #cfcfcf;
  text-align: center;
  color: #545e6f;
  margin: 1rem 0.5rem;
  padding: 1rem;
}

.program1-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program1-container {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program12-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.program2-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program4-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program3-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program1-explain {
  margin-left: 2rem;
  width: 650px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.main {
  height: 1000x; /* 화면 이미지 고정 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15%;
  z-index: 1;
}

.main1 {
  height: 500px; /* 화면 이미지 고정 */
  background-image: url("https://modo-phinf.pstatic.net/20180304_283/1520151276251GkP1Q_JPEG/mosaOtd1XG.jpeg?type=w1100");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15%;
  z-index: 1;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 89);
  opacity: 0.8;
  z-index: 1;
  margin-top: 60px; /* position 이 fixed 일 경우, 문서 흐름에서 빠지므로, 이 부분은 margin 으로 적용 */
}
.frontmain {
  z-index: 2;
  padding: 200px 10rem;
  font-size: 2rem;
  display: flex;
  color: #ffffff;
  font-weight: bold;
  height: 360px; /* 화면 이미지 고정 */
}

.login-explain {
  width: 1420px;
  height: 150px;
  background-color: rgba(196, 196, 196, 0.34);
  align-items: center;
  display: flex;
  justify-content: space-around;

}
.program2-explain {
  margin-right: 2rem;
  width: 650px;
  height: 350px;
  overflow:hidden;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.program3-explain {
  margin-left: 10rem;
  width: 650px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.program4-explain {
  margin-right: 2rem;
  width: 650px;
  height: 350px;
  overflow:hidden;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.program1-explain1 {
  margin-right: 2rem;
}
.program2-explain2 {
  margin-left: 2rem;
}
.explain1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:scale-down;
}

.backcolor3 {
  background-color: #f3f0e729;
  
}

.bodybody {
  padding-top: 200px;
  padding-bottom: 50px;
}
.bodybodyheader {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: right;
}
/* 상세페이지 부분 */
.Detail-section {
  padding-top: 130px;
  display: flex;
  flex-direction: row;
}
.Detail-content {
  flex: 1 1 750px;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
}
.Detail-hole {
  position: relative;
  padding: 42px 30px;
}
.Detail-title {
  border-bottom: 1px solid #f1f3f5;
  position: relative;
  padding: 42px 30px;
}
.Detail-titl-header {
  margin-bottom: 10px;
  align-items: center;
}
.Detail-title-subheader {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  height: 20px;
}
.subheader-changedelete {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.Detail-body {
  padding: 16px 0;
  margin-bottom: 16px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.Detail-comment {
  border-top: 1px solid #f1f3f5;
  border-bottom: 1px solid #f1f3f5;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
}
.comment-content {
  flex: 1 1 750px;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
}
.answer-info-header {
  padding: 16px 30px 8px;
}
.header-ti {
  margin-bottom: 0;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: - 3px;
  color: #616568;
}
.answer--comment {
  position: relative;
  margin-bottom: 16px;
  border: 1px solid #e9ecef;
  background-color: #fff;
}
.comment--new {
  padding: 0;
  border-bottom: 1px solid #f1f3f5;
  overflow-x: auto;
}
.login-before {
  margin: 24px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #1b1c1b;
}
.comment-card {
  padding: 20px 29px;
  border-bottom: 1px solid #f1f3f5;
  overflow-x: auto;
}
.comment--header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid #f1f3f5;
}
.comment--body {
  padding: 20px 0 0;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #24293e;
}
.comment---features {
  overflow-x: auto;
  margin-bottom: 0!important;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  box-sizing: border-box;
}
.comment---image{
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #f1f3f5;
  object-fit: cover;
  max-width: 100%;
  display: block;
}
.flex-column {
  display: flex;
  flex-direction: row;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.comment----update {
  font-size: 13px;
  font-weight: 400;
  color: #abb0b5;
  letter-spacing: - 3px;
  line-height: 1.38;
}
.comment----username {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 700;
  color: #1b1c1b;
  line-height: 1.47;
}
.comment----delete {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.commant-a {
  padding: 0;
  border-bottom: 1px solid #f1f3f5;
  overflow-x: auto;
}
.commant-b {
  padding: 24px 36px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.commant-u-c {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #f1f3f5;
  object-fit: cover;
  max-width: 100%;
  display: block;
}
.commant-m-b {
  padding: 0;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1000px;
  margin: 0 auto;
}
.commant-footer {
  padding: 12px 12px 12px 0;
  display: flex;
  flex-direction: row;
}
.commant-f-r {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  margin: 10px;
}
.commant-fb {
  border-color: #f1c232;
  font-weight: 700;
  background-color: #f1c232;
  border: 1px solid;
  color: #fff;
  padding: 0 12px;
  height: 40px;
  line-height: 1.43;
  font-size: 14px;
  letter-spacing: -.3px;
}
.Detail-Side {
  position: fixed;
  z-index: 1;
  display: flex;
  margin-top: 57px;
  width: 100%;
}
.Side-B {
  padding: 0 58px;
  flex: 1 1 260px;
  display: flex;
}
.Side-Back {
  min-width: 40px;
  color: #1b1c1d;
    border-color: #e9ecef;
    background-color: #fff;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;

  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
/* 프로필 부분 */
.MyProfile {
  padding-top: 130px;
  display: flex;
  flex-direction: row;
}
.profile-content {
  padding: 4rem;
  display: flex;
  flex-direction: column;

}
.MyProfileBody1 {
  display: flex;
  flex-direction: row;
}
.lftimg {
  margin-left: 280px;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 1px solid #f1f3f5;
  object-fit: cover;
  max-width: 100%;
  display: block;
}
.rightContent {
  margin-left: 400px;
}
.rightHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.updateDelete {
  margin-left: 180px;
  display: flex;
  flex-direction: row;
}
.read {
  padding: 5px 14px;
}
.read1 {
  display: flex;
  padding: 12px, 12px, 12px, 22px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.MyProfileBody3 {
  width: 100px;
}
.inputHalf {
  width: 250px;
  margin-right: 15px;
}
.inputHalf1 {
  width: 250px;
}
.search-double {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
}
.register-main {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  padding: 0rem 2rem;
}
.register-sub {
  margin-top: 100px;
}
.password-main {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1500px;
  }
  .program1 {
    max-width: 1500px;
  }
  
}
@media only screen and (min-width: 1200px) {
  .inner3 {
    max-width: 1500px;

  }
}
@media only screen and (min-width: 700px) {
  .register-main {
    max-width: 700px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
  .roadmap-desc {
    display: none;
  }
}